.flex-container {
  margin: 50px;
  padding: 30px;
  display: flex;
  background-color: green;
  color: white;
}

.flex-child {
  flex: 1;
  font-weight: bold;
}

.text-color-white {
  color: white;
}
.text-color-white:hover {
  color: gray;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 20%;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
